<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <title><%= title%></title>
        <link rel="stylesheet" href="/Styles.css">
    </head>
    <body>
        <div class = "header">
            <p class = "title">Movie Booking System</p>
        </div>
        <div class="wrapper">
            <div class="card"'>
                <h2>Movie 1</h2>
                <h4>Info 1</h4>
                <img src = "/assets/image.jpeg" alt="Movie" class="centre">
              </div>
              <div class="card">
                <h2>Movie 2</h2>
                <h4>Info 2</h4>
                <img src = "/assets/image.jpeg" alt="Movie" class="centre">
              </div>
              <div class="card">
                <h2>Movie 3</h2>
                <h4>Info 3</h4>
                <img src = "/assets/image.jpeg" alt="Movie" class="centre">
              </div>
              <div class="card">
                <h2>Movie 4</h2>
                <h4>Info 4</h4>
                <img src = "/assets/image.jpeg" alt="Movie" class="centre">
              </div>
        </div>
        <%- include('../public/partials/footer') %>
    </body>

    <script>
          const movie = document.querySelectorAll('.card');
          movie.forEach(function (value, i) {
          value.addEventListener('click', ()=>{
              var x = ""+ (i+1);
               location.assign('/'+x)
          })
         });

    </script>
</html>